<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">My App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav float-right">
            <li class="nav-item">
              <a class="nav-link" href="/login.html">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile.html">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/index.html">Home</a>
            </li>
          </ul>
        </div>
      </nav> 

    <div class="container my-5">
        <h1 class="text-center my-5">Profile page</h1>
        <div class="row">
            <div class="col-md-4">
                <img src="images/profile.jpg" class="img-fluid rounded-circle mx-auto d-block" alt="Profile Image">
                <h2 class="text-center my-3">Kari Nordmann</h2>
                <p class="text-center">I'm Kari Nordmann, and I'm a front-end student at Noroff. I'm seeking a full-time opportunity where I can employ my programming skills.</p>
            </div>
            <div class="col-md-8">
                <h2 class="mb-4">Contacts</h2>
                <ul class="list-group">
                    <li class="list-group-item" v-for="contact in contacts">Noah Kristiansen</li>
                    <li class="list-group-item" v-for="contact in contacts">Oskar Pedersen</li>
                    <li class="list-group-item" v-for="contact in contacts">Sofie Hansen</li>
                    <li class="list-group-item" v-for="contact in contacts">Leah Hagen</li>
                    <li class="list-group-item" v-for="contact in contacts">Isak Olsen</li>
                    <li class="list-group-item" v-for="contact in contacts">William Johansen</li>
                </ul>
                <h2 class="mb-4">Posts</h2>
                <div class="card" v-for="post in posts">
                    <div class="card-header">
                        Kari Nordmann
                    </div>
                    <div class="card-body">
                        

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id mauris interdum, pellentesque justo eget, viverra urna. Aenean luctus non felis non volutpat. Donec sed justo sit amet lorem tristique bibendum. Donec sed elit erat. Sed euismod ex et fermentum suscipit. In ut fringilla nisi, a rhoncus nisl. Nulla a luctus leo. 
                    </div>
                </div>
                <h2 class="mb-4">New Post</h2>
                <form>
                    <div class="form-group">
                        <label for="content">Content</label>
                        <textarea class="form-control" id="content" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Post</button>
                    
                </form>
            </div>
        </div>
    </div>
</body>
</html>
